<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE wml PUBLIC "-//WAPFORUM//DTD WML 1.1//EN" "http://www.wapforum.org/DTD/wml_1.1.xml">
<wml>
    <head>
        <meta http-equiv="Cache-Control" content="max-age=1" forua="true"/>
        <style>
            wml,card {margin:0; padding: 1em; font-size:medium;}
            wml {padding:0}
            p { line-height: 1.1em; margin:0.8em auto;}
        </style>
    </head>
    <card title="404错误 | OTA-test {{version}}">
        <p style="color:red;"><b>文件不存在！</b></p>
        <p>OTA名称 : {{otaTitle}}<br/>机型 : {{mobileType}}<br/>文件名 : <b>{{filename}}</b></p>
        <a href="/wap">返回OTA列表</a> | <a href="{{referrer}}">返回“{{otaTitle}}”</a>
        <p style="background-color:#696969;"><i><small>时间 {{date}}</small></i></p>
    </card>
</wml>