<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE wml PUBLIC "-//WAPFORUM//DTD WML 1.1//EN" "http://www.wapforum.org/DTD/wml_1.1.xml">
<wml>
    <head>
        <meta http-equiv="Cache-Control" content="max-age=1" forua="true"/>
        <style>
            wml,card {margin:0; padding: 1em; font-size:medium;}
            wml {padding:0}
            div,p { line-height: 1.3em; }
        </style>
    </head>
    <card title="{{title}} | OTA-test">
        {{&body}}
        <p style="background-color:#696969;">时间 {{date}}</p>
    </card>
</wml>